body {
    background: url(fan.svg) no-repeat;
    background-position: -20% -10%;
    background-color: #32393f;
    color: #434343;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857142857143;
    padding: 10px;
}
h3 {
  align:left;
  color: #1be4e4;
}
.container {
    margin: 0 auto;
    max-width: 400px;
}

.card {
    background: #475159;
    margin: 10px auto;
    padding: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #474f54;
    border-radius: 10px;
}

.button {
  background-color: #32393f;
  border-radius:10px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

form .error {
    color: #8A1F11 !important;
    border-color: #8A1F11;
}
label.error {
    text-transform: none
}
p.error {
    margin-bottom: 10px
}
form .field-group {
    box-sizing: border-box;
    clear: both;
    padding: 4px 0;
    position: relative;
    margin: 1px 0;
    width: 100%;
}
form .field-group > label {
    color: #757575;
    display: block;
    margin: 0 0 5px 0;
    padding: 5px 0 0;
    position: relative;
    word-wrap: break-word;
}
input[type=text] {
    background: #fff;
    border: 1px solid #d0d0d0;
    border-radius: 2px;
    box-sizing: border-box;
    color: #434343;
    font-family: inherit;
    font-size: inherit;
    height: 2.14285714em;
    line-height: 1.4285714285714;
    padding: 4px 5px;
    margin: 0;
    width: 100%;
}
input[type=text]:focus {
    border-color: #4C669F;
    outline: 0;
}
.button-container {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    clear: both;
    margin: 1px 0 0;
    padding: 4px 0;
    width: 100%;
}
